body 
{
    color: $colorFontBody;
    font-family: $primaryFont;
    font-size: $fontSizeBase * 1.6;
    font-weight: $fontWeightNormal;
    line-height: 1.5em;
    position: relative;

    @include breakpoint($tablet)
    {
        margin-top: 170px;          
    } 

    @include breakpoint($allCelular)
    {
        margin-top: 170px;

        &.page-internas
        {
            margin-top: 250px;
        }
    }      

    &.menu-ativo
    {
        overflow: hidden; 
    }

    //QUANDO O USUÁRIO ESTIVER LOGADO
    &.customize-support
    {

        @include breakpoint($allCelular)
        {
            margin-top: 160px;
        }
        
        .menu-mobile,
        .hd-top
        {
            top: 32px;
        }

        .menu-mobile
        {
            & > ul 
            {
                max-height: 93%;
            }   
        }

    }

    #wpadminbar
    {
        @include breakpoint($allCelular)
        {
            position: fixed !important;
        }
    }

    .bg-fade 
    {
        content: "";
        display: block;
        background-color: #111;
        background-color: rgba(0,0,0,.8);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 80;
        opacity: 0;    

        @include breakpoint(min-width $allDesktop)
        {
            display: none;
        }
    }

    main 
    {
        a
        {
            color: #0a793e;
        }
    
        a:focus,
        a:visited 
        {
            outline: none;
            text-decoration: none;
        }
    
        a:hover
        {
            color: #0a793e;
            outline: none;
            text-decoration: underline;
        }   

        &.ss-internas
        {
            ul,
            ol 
            {
                padding: 0;
                padding-left: 15px;
                margin: 0;
                margin-bottom: 15px;
    
                li 
                {
                    line-height: 1em;
                    margin: 0;
                    margin-bottom: 20px;
                    padding: 0;
                }
    
            }

            ul 
            {
                li 
                {
                    list-style: none;
                    position: relative;
                    padding-left: 10px;

                    &::before 
                    {
                        content: "";
                        background-color: #f98744;
                        border-radius: 100%;
                        width: 5px;
                        height: 5px;

                        position: absolute;
                        top: 6px;
                        left: 0;
                    }

                }
            }

        }

    }

    &.page-internas
    {
        main 
        {
            background: url("../imgs/bg-internas.png") no-repeat top center;

            @include breakpoint($tablet)
            {
                padding-bottom: 80px;
            }

            @include breakpoint($allCelular)
            {
                padding-bottom: 0;
            }            
        }
    }
}

/* SELEÇÃO DO TEXTO DO BROWSER */

    ::-moz-selection
    {
        background: #f98744;
        color: #fff;
        text-shadow:none
    }

    ::selection
    { 
        background: #f98744;
        color: #fff;
        text-shadow:none
    }

/* CLASSES WORDPRESS */

    a img.alignnone,
    .alignnone
    {
        margin: 5px 0 10px;
    }

    a img.alignleft,
    .alignleft
    {
        float: left;
        margin: 5px 30px 10px 0;
    }

    a img.aligncenter,
    .aligncenter,
    div.aligncenter
    {
        display: block;
        margin: 5px auto 10px;
        text-align: center;
    }

    a img.alignright,
    .alignright
    {
        float: right;
        margin: 5px 0 10px 30px;
        text-align: right;
    }    

    .wp-caption p.wp-caption-text
    {
        color: #1a4164;
        font-size: $fontSizeBase * 1.2;;
        line-height: 1.2em;
        margin: 0;
        padding: 10px 0;
    }

/* TÍTULOS E TEXTOS */

    h1 
    {
        font-size: $fontSizeBase * 4.8;
        margin: 0 0 25px;
        
        @include breakpoint($smallDesktop)
        {
            font-size: $fontSizeBase * 3.8;
        }

        @include breakpoint($tablet)
        {
            font-size: $fontSizeBase * 3.8;
        } 
        
        @include breakpoint($allCelular)
        {
            font-size: $fontSizeBase * 3;
        }         
    }

    h2 
    {
        font-size: $fontSizeBase * 4;
        margin: 0 0 20px;

        @include breakpoint($smallDesktop)
        {
            font-size: $fontSizeBase * 3.5;
        }    
        
        @include breakpoint($tablet)
        {
            font-size: $fontSizeBase * 3.5;
        }  
        
        @include breakpoint($largeCelular)
        {
            font-size: $fontSizeBase * 3;
        }  
        
        @include breakpoint($smallCelular)
        {
            font-size: $fontSizeBase * 2.8;
        }          
    }

    h3 
    {
        font-size: $fontSizeBase * 3.2;
        margin: 0 0 20px;

        @include breakpoint($smallDesktop)
        {
            font-size: $fontSizeBase * 2.5;
        }        

        @include breakpoint($tablet)
        {
            font-size: $fontSizeBase * 2.5;
        }  
        
        @include breakpoint($allCelular)
        {
            font-size: $fontSizeBase * 2.5;
        }          
    }

    h4 
    {
        font-size: $fontSizeBase * 2.4;
        margin: 0 0 15px;

        @include breakpoint($smallDesktop)
        {
            font-size: $fontSizeBase * 2;
        }  
        
        @include breakpoint($tablet)
        {
            font-size: $fontSizeBase * 2;
        } 
        
        @include breakpoint($allCelular)
        {
            font-size: $fontSizeBase * 1.8;
        }         
    }

    h5 
    {
        font-size: $fontSizeBase * 1.6;
        margin: 0 0 15px;
        
        @include breakpoint($smallDesktop)
        {
            font-size: $fontSizeBase * 1.4;
        }  
        
        @include breakpoint($tablet)
        {
            font-size: $fontSizeBase * 1.4;
        }  
        
        @include breakpoint($allCelular)
        {
            font-size: $fontSizeBase * 1.4;
        }          
    }

    h6 
    {
        font-size: $fontSizeBase * 1.6;
        font-weight: $fontWeightNormal;
        margin: 0 0 15px;
        line-height: 1.3em;

        @include breakpoint($smallDesktop)
        {
            font-size: $fontSizeBase * 1.4;
        }        

        @include breakpoint($tablet)
        {
            font-size: $fontSizeBase * 1.4;
        } 
        
        @include breakpoint($allCelular)
        {
            font-size: $fontSizeBase * 1.4;
        }         
    }

    h1, h2, h3, h4, h5
    {
        font-weight: $fontWeightBold;
        line-height: 1.3em;
    }

    p  
    {
        color: $colorFontBody;
        margin: 0 0 35px;   
        line-height: 1.4em; 

        @include breakpoint($smallDesktop)
        {
            font-size: $fontSizeBase * 1.5;
            line-height: 1.3em; 
        }  
    
    }

    img 
    {
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        display: inline-block; 
        margin-bottom: 0; 
        max-width: 100%;

        &.no-radius
        {
            border-radius: 0;
        }

    }

    blockquote
    {
        color: $colorComentarios;
        text-align: center;
        margin: 0 20px 30px;
        padding: 30px 0;
        position: relative;

        &::before 
        {
            font-family: FontAwesome;
            content: "\f10d";
            color: $colorQuotes;
            font-size: $fontSizeBase * 5;
            line-height: 1.2em;
            position: absolute;
            top: 10px;
            left: 50%;
            z-index: 0;
            margin-left: -23px;
        }

        &::after 
        {
            content: "";
            background-color: $bgBorderInternas;
            width: 250px;
            height: 1px;
            margin: 0 auto;
            position: absolute;
            bottom: 30px;
            left: 50%;
            margin-left: -125px;
        }

        p 
        {
            color: $colorComentarios;
            font-size: $fontSizeBase * 2.4;
            line-height: 1.25em;
            position: relative;

            @include breakpoint($smallDesktop)
            {
                font-size: $fontSizeBase * 2;
            } 

            @include breakpoint($tablet)
            {
                font-size: $fontSizeBase * 2;
            } 

            @include breakpoint($allCelular)
            {
                font-size: $fontSizeBase * 2;
            }             

        }

    }

/* CLASSES */

    .ss-row 
    {
        @include make-row();
    }

    .btn 
    {
        background: $bgBtnHeader;
        border: 0 none;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px; 
        color: $colorBtnHeader;
        font-size: $fontSizeBase * 1.6;
        font-weight: $fontWeightBold;
        float: right;
        padding: 10px 25px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        outline: none;
        transition: $transitionAll5s;

        &:hover,
        &:focus 
        {
            background: $bgBtnHoverHeader;
            color: #fff;
            text-decoration: none;
        }

        &.btn-conheca 
        {
            display: block;
            margin: 10px 0;
        }
    
        &.btn-cartela
        {
            background-color: $bgBtnCartelaCores;
            float: right;
            padding: 10px 50px;
            width: auto;

            @include breakpoint($tablet)
            {
                padding: 10px 40px;
            }

            @include breakpoint($allCelular)
            {
                display: block;
                text-align: center;
                margin: 0 auto;
                width: 220px;
                float: none;                
            }

            &:hover,
            &:focus 
            {
                background-color: $colorWhite;
                color: $colorHoverBtnCartela;
            }
        }

    }

    .btn-enviar
    {
        background: $bgBtnHeader;
        border: 0 none;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px; 
        color: $colorBtnHeader;
        font-size: $fontSizeBase * 1.6;
        font-weight: $fontWeightBold;
        float: right;
        padding: 10px 25px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        outline: none;
        transition: $transitionAll5s; 

        &:hover,
        &:focus  
        {
            background-color: $bgBtnHoverContato;
        }
    }   

//TABELAS

    table
    {
        border: #0e4c6d 1px solid;
        display: block;
        margin: 30px auto;

        *
        {
            display: block;
        }

        thead
        {
            background: #f98744;
            color: #fff;
        }

        tr 
        {
            border-bottom: #0e4c6d 1px solid;
            overflow: hidden;
        }
    
        th,
        td
        {
            border-right: #0e4c6d 1px solid;
            float: left;
            padding: 1%;

            &:last-child 
            {
                border-right: 0 none;
            }

            &.col-1 
            {
                width: 100%;
            }

            &.cols-2
            {
                width: 50%;
            }

            &.cols-3
            {
                width: 33.333%;
            }            

            &.cols-4
            {
                width: 25%;
            }            

            &.cols-5
            {
                width: 20%;
            }    

            &.cols-6
            {
                width: 16.666%;
            }                

            &.cols-7
            {
                width: 14.285714%;
            }

            &.cols-8
            {
                width: 12.5%;
            }    
            
            &.cols-9
            {
                width: 11.111%;
            }

            &.cols-10
            {
                width: 10%;
            }

            &.col-fr-1-9
            {
                width: 11.111%;
            }

            &.col-fr-8-9
            {
                width: 88.888%;
            }  
            
            &.col-fr-1-8
            {
                width: 12.5%;
            }     
            
            &.col-fr-7-8
            {
                width: 87.5%;
            }

            &.col-fr-1-7 
            {
                width: 14.285714%;
            }
           
            &.col-fr-6-7 
            {
                width: 85.714286%;
            }  
            
            &.col-fr-1-6 
            {
                width: 16.666%;
            }  
            
            &.col-fr-5-6 
            {
                width: 83.333%;
            }    
            
            &.col-fr-1-5 
            {
                width: 20%;
            }    
            
            &.col-fr-4-5 
            {
                width: 80%;
            }    
            
            &.col-fr-1-4
            {
                width: 25%;
            }    
            
            &.col-fr-3-4
            {
                width: 75%;
            }  
            
            &.col-fr-1-3
            {
                width: 33.333%;
            } 
            
            &.col-fr-2-3
            {
                width: 66.666%;
            }             

        }

        tfoot
        {
            tr
            {
                &:last-child
                {
                    border-bottom: 0 none;
                }
            }
        }

    }

/* GALERIA */

    //EXTRA SMALL

    .gallery
    {
        margin: 0;
        padding: 0;
        overflow: hidden;
        width: 100%;

        .gallery-item
        {
            margin-bottom: 30px;
        }

        img 
        {
            border: 2px solid #0a793e;
            max-width: 100%;
        }
    }

    .gallery
    {   
        .box-extra-small
        {
            column-count: 7;
            column-gap: 30px;
        
            .gallery-item
            {
                max-width: 130px;
            }
        }
    }

    //SMALL

    .gallery
    {
        .box-small
        {
            column-count: 6;
            column-gap: 30px;
        }

        .gallery-item
        {
            max-width: 170px;
        }
    }

    //MEDIUM

    .gallery
    {

        .box-medium
        {
            column-count: 4;
            column-gap: 30px;

            .gallery-item
            {
                max-width: 240px;
            }
        }

    }

    //LARGE

    .gallery
    {

        .box-large
        {
            column-count:3;
            column-gap: 30px;

            .gallery-item
            {
                max-width: 370px;
            }
        }

    }

    //EXTRA LARGE

    .gallery
    {

        .gallery-large
        {
            column-count: 1;

            .gallery-item
            {
                max-width: 770px;
            }
        }

    }

/* FIM GALERIA */
/* CONTATO */

    .ss-formulario 
    {
        background-color: $bgContato;
        padding: 0 0 40px;

        /* Classes Qordpress para Formulario */
            
            div.wpcf7-response-output
            {
                margin: .5em 0;
                padding: 0.8em 1em;
                line-height: 1.2em;
            }           

            span.wpcf7-not-valid-tip
            {
                font-size: 13px;
            }

            div.wpcf7-validation-errors
            {
                background: #f7e700;
                border: 0 none;
                font-size: 14px;
                text-align: center;     
            }

            div.wpcf7-mail-sent-ng
            {
                background: #ff0000;
                border: 0 none;
                color: #fff;
                font-size: 14px;
                text-align: center; 
            }

            div.wpcf7-mail-sent-ok
            {
                background: #398f14;
                border: 0 none;
                font-size: 14px;
                text-align: center;     
            }


        /* Fim Classes Wordpress */

        .box-header 
        {
            padding-bottom: 20px;
            p 
            {
                color: $colorFontBody;
                font-weight: $fontWeightNormal;
            }
        }

        .hd-sessao
        {
            &::after 
            {
                background-color: $colorContato;
            }

            h2 
            {
                color: $colorContato;
            }
        }

        .formulario-contato
        {
            border: $borderForm 1px solid;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding: 25px;
            overflow: hidden;
            width: 740px;
            max-width: 100%;
            margin: 0 auto;

            p 
            {
                margin: 0;
            }

            .campo 
            {
                width: 100%;
                margin-bottom: 15px;
            }

            .input 
            {
                background-color: $bgInput;
                border: 2px solid transparent;
                border-top-left-radius: 10px;
                border-bottom-right-radius: 10px;   
                color: $colorFontBody;             
                padding: 8px 10px;
                width: 100%;
                outline: none;
                transition: $transitionAll5s;

                &:focus
                {
                    border-color: $borderInputHover;
                }
            }

            .textarea 
            {

                background-color: $bgInput;
                border: 2px solid transparent;
                border-top-left-radius: 10px;
                border-bottom-right-radius: 10px;   
                color: $colorFontBody;             
                padding: 8px 10px;
                width: 100%;
                outline: none;
                min-height: 130px;
                height: 130px;
                max-height: 130px;
                transition: $transitionAll5s;

                &:focus
                {
                    border-color: $borderInputHover;
                }

            }

            ::-webkit-input-placeholder
            { 
                color: $colorPlaceholder;
            }
            ::-moz-placeholder
            { 
                color: $colorPlaceholder;
            }
            :-ms-input-placeholder
            { 
                color: $colorPlaceholder;
            }
            :-moz-placeholder
            { 
                color: $colorPlaceholder;
            }

        }

        &.form-representantes
        {
            margin-top: 50px;

            .hd-sessao
            {
                &::after 
                {
                    background-color: #0e4c6d;
                }
        
                h2 
                {
                    color: #0e4c6d;
                }
            }

            .btn-enviar 
            {
                background-color: #0e4c6d;

                &:hover,
                &:focus  
                {
                    background-color: $bgBtnHoverContato;
                }
            }

            .input
            {
                &:focus
                {
                    border-color: #1b6187;
                }            
            }

            ::-webkit-input-placeholder
            { 
                color: #00612d;
            }
            ::-moz-placeholder
            { 
                color: #00612d;
            }
            :-ms-input-placeholder
            { 
                color: #00612d;
            }
            :-moz-placeholder
            { 
                color: #00612d;
            }

        }

    }

/* PAGINAÇÃO */

    .box-paginacao
    {
        text-align: center;
        margin-top: 70px;
        
        .paginacao
        {
            display: inline-block;
            overflow: hidden;
            margin: 0 -14px;
            padding: 0;

            li 
            {
                display: inline-block;
                margin: 0 7px 10px;
                border-top-left-radius: 6px;
                border-bottom-right-radius: 6px;
                overflow: hidden;
                width: 35px;
                height: 35px;

                &.ativa
                {
                    background-color: #ab310e;
                    color: #fff;
                    font-size: $fontSizeBase * 1.4;
                    font-weight: $fontWeightBold;                    
                    padding: 5px;
                }

                a 
                {
                    background-color: #f98744;
                    color: #fff;
                    display: block;
                    font-size: $fontSizeBase * 1.4;
                    font-weight: $fontWeightBold;
                    padding: 5px;
                    transition: $transitionAll5s;

                    &:hover,
                    &:focus 
                    {
                        background-color: #ec6515;
                        text-decoration: none;
                    }

                    &.ativa
                    {
                        background-color: #ab310e;
                    }
                }
            }

        }
 
    }