body 
{
    color: $colorFontBody;
    font-family: $primaryFont;
    font-size: $fontSizeBase * 1.6;
    font-weight: $fontWeightNormal;
    line-height: 1.5em;
    position: relative;

    @include breakpoint($tablet)
    {
        margin-top: 170px;          
    } 
    
    @include breakpoint($allCelular)
    {
        margin-top: 170px;
    }  

    &.menu-ativo
    {
        overflow: hidden; 
    }

    .bg-fade 
    {
        content: "";
        display: block;
        background-color: #111;
        background-color: rgba(0,0,0,.8);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 80;
        opacity: 0;    

        @include breakpoint(min-width $allDesktop)
        {
            display: none;
        }
    }

    main 
    {
        a
        {
            color: #0a793e;
        }
    
        a:focus,
        a:visited 
        {
            outline: none;
            text-decoration: none;
        }
    
        a:hover
        {
            color: #0a793e;
            outline: none;
            text-decoration: underline;
        }        
    }

    &.page-internas
    {
        main 
        {
            background: url("../imgs/bg-internas.png") no-repeat top center;

            @include breakpoint($tablet)
            {
                padding-bottom: 80px;
            }

            @include breakpoint($allCelular)
            {
                padding-bottom: 0;
            }            
        }
    }
}

/* Títulos e textos */

    h1 
    {
        font-size: $fontSizeBase * 4.8;
        margin: 0 0 25px;
        
        @include breakpoint($smallDesktop)
        {
            font-size: $fontSizeBase * 3.8;
        }

        @include breakpoint($tablet)
        {
            font-size: $fontSizeBase * 3.8;
        } 
        
        @include breakpoint($allCelular)
        {
            font-size: $fontSizeBase * 3;
        }         
    }

    h2 
    {
        font-size: $fontSizeBase * 4;
        margin: 0 0 20px;

        @include breakpoint($smallDesktop)
        {
            font-size: $fontSizeBase * 3.5;
        }    
        
        @include breakpoint($tablet)
        {
            font-size: $fontSizeBase * 3.5;
        }  
        
        @include breakpoint($largeCelular)
        {
            font-size: $fontSizeBase * 3;
        }  
        
        @include breakpoint($smallCelular)
        {
            font-size: $fontSizeBase * 2.8;
        }          
    }

    h3 
    {
        font-size: $fontSizeBase * 3.2;
        margin: 0 0 20px;

        @include breakpoint($smallDesktop)
        {
            font-size: $fontSizeBase * 2.5;
        }        

        @include breakpoint($tablet)
        {
            font-size: $fontSizeBase * 2.5;
        }  
        
        @include breakpoint($allCelular)
        {
            font-size: $fontSizeBase * 2.3;
        }          
    }

    h4 
    {
        font-size: $fontSizeBase * 2.4;
        margin: 0 0 15px;

        @include breakpoint($smallDesktop)
        {
            font-size: $fontSizeBase * 2;
        }  
        
        @include breakpoint($tablet)
        {
            font-size: $fontSizeBase * 2;
        } 
        
        @include breakpoint($allCelular)
        {
            font-size: $fontSizeBase * 1.8;
        }         
    }

    h5 
    {
        font-size: $fontSizeBase * 1.6;
        margin: 0 0 15px;
        
        @include breakpoint($smallDesktop)
        {
            font-size: $fontSizeBase * 1.4;
        }  
        
        @include breakpoint($tablet)
        {
            font-size: $fontSizeBase * 1.4;
        }  
        
        @include breakpoint($allCelular)
        {
            font-size: $fontSizeBase * 1.4;
        }          
    }

    h6 
    {
        font-size: $fontSizeBase * 1.6;
        font-weight: $fontWeightNormal;
        margin: 0 0 15px;
        line-height: 1.3em;

        @include breakpoint($smallDesktop)
        {
            font-size: $fontSizeBase * 1.4;
        }        

        @include breakpoint($tablet)
        {
            font-size: $fontSizeBase * 1.4;
        } 
        
        @include breakpoint($allCelular)
        {
            font-size: $fontSizeBase * 1.4;
        }         
    }

    h1, h2, h3, h4, h5
    {
        font-weight: $fontWeightBold;
        line-height: 1.3em;
    }

    p  
    {
        color: $colorFontBody;
        margin: 0 0 20px;   
        line-height: 1.4em; 

        @include breakpoint($smallDesktop)
        {
            font-size: $fontSizeBase * 1.5;
            line-height: 1.3em; 
        }  
    
    }

    img 
    {
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        display: inline-block; 
        margin-bottom: 0; 
        max-width: 100%;

        &.no-radius
        {
            border-radius: 0;
        }

    }

    blockquote
    {
        color: $colorComentarios;
        text-align: center;
        margin: 0 20px 30px;
        padding: 30px 0;
        position: relative;

        &::before 
        {
            font-family: FontAwesome;
            content: "\f10d";
            color: $colorQuotes;
            font-size: $fontSizeBase * 5;
            line-height: 1.2em;
            position: absolute;
            top: 10px;
            left: 50%;
            z-index: 0;
            margin-left: -23px;
        }

        &::after 
        {
            content: "";
            background-color: $bgBorderInternas;
            width: 250px;
            height: 1px;
            margin: 0 auto;
            position: absolute;
            bottom: 30px;
            left: 50%;
            margin-left: -125px;
        }

        p 
        {
            color: $colorComentarios;
            font-size: $fontSizeBase * 2.4;
            line-height: 1.25em;
            position: relative;

            @include breakpoint($smallDesktop)
            {
                font-size: $fontSizeBase * 2;
            } 

            @include breakpoint($tablet)
            {
                font-size: $fontSizeBase * 2;
            } 

            @include breakpoint($allCelular)
            {
                font-size: $fontSizeBase * 2;
            }             

        }

    }

/* Classes */

    .ss-row 
    {
        @include make-row();
    }

    .btn 
    {
        background: $bgBtnHeader;
        border: 0 none;
        border-top-left-radius: 8px;
        border-bottom-right-radius: 8px; 
        color: $colorBtnHeader;
        font-size: $fontSizeBase * 1.6;
        font-weight: $fontWeightBold;
        float: right;
        padding: 10px 25px;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        outline: none;
        transition: $transitionAll5s;

        &:hover,
        &:focus 
        {
            background: $bgBtnHoverHeader;
            color: #fff;
            text-decoration: none;
        }

        &.btn-conheca 
        {
            display: block;
            margin: 10px 0;
        }

        &.btn-enviar
        {
            background-color: $bgBtnContato;
            &:hover,
            &:focus  
            {
                background-color: $bgBtnHoverContato;
            }
        }   
    
        &.btn-cartela
        {
            background-color: $bgBtnCartelaCores;
            float: right;
            padding: 10px 50px;
            width: auto;

            @include breakpoint($tablet)
            {
                padding: 10px 40px;
            }

            @include breakpoint($smallCelular)
            {
                display: block;
                text-align: center;
                margin: 0 auto;
                width: 220px;
                float: none;
            }

            &:hover,
            &:focus 
            {
                background-color: $colorWhite;
                color: $colorHoverBtnCartela;
            }
        }

    }

/* Contato */

    .ss-formulario 
    {
        background-color: $bgContato;
        padding: 0 0 40px;

        .box-header 
        {
            padding-bottom: 20px;
            p 
            {
                color: $colorFontBody;
                font-weight: $fontWeightNormal;
            }
        }

        .hd-sessao
        {
            &::after 
            {
                background-color: $colorContato;
            }

            h2 
            {
                color: $colorContato;
            }
        }

        .formulario-contato
        {
            border: $borderForm 1px solid;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
            padding: 25px;
            overflow: hidden;
            width: 740px;
            max-width: 100%;
            margin: 0 auto;

            .campo 
            {
                width: 100%;
                margin-bottom: 15px;
            }

            .input 
            {
                background-color: $bgInput;
                border: 2px solid transparent;
                border-top-left-radius: 10px;
                border-bottom-right-radius: 10px;   
                color: $colorFontBody;             
                padding: 8px 10px;
                width: 100%;
                outline: none;
                transition: $transitionAll5s;

                &:focus
                {
                    border-color: $borderInputHover;
                }
            }

            .textarea 
            {
                min-height: 130px;
                height: 130px;
                max-height: 130px;
            }

            ::-webkit-input-placeholder
            { 
                color: $colorPlaceholder;
            }
            ::-moz-placeholder
            { 
                color: $colorPlaceholder;
            }
            :-ms-input-placeholder
            { 
                color: $colorPlaceholder;
            }
            :-moz-placeholder
            { 
                color: $colorPlaceholder;
            }

        }

        &.form-representantes
        {
            margin-top: 50px;

            .hd-sessao
            {
                &::after 
                {
                    background-color: #0e4c6d;
                }
        
                h2 
                {
                    color: #0e4c6d;
                }
            }

            .btn-enviar 
            {
                background-color: #0e4c6d;

                &:hover,
                &:focus  
                {
                    background-color: $bgBtnHoverContato;
                }
            }

            .input
            {
                &:focus
                {
                    border-color: #1b6187;
                }            
            }

            ::-webkit-input-placeholder
            { 
                color: #00612d;
            }
            ::-moz-placeholder
            { 
                color: #00612d;
            }
            :-ms-input-placeholder
            { 
                color: #00612d;
            }
            :-moz-placeholder
            { 
                color: #00612d;
            }

        }

    }

/* Paginação */

    .box-paginacao
    {
        text-align: center;
        margin-top: 70px;
        
        .paginacao
        {
            display: inline-block;
            overflow: hidden;
            margin: 0 -14px;
            padding: 0;

            li 
            {
                display: inline-block;
                margin: 0 7px 10px;
                border-top-left-radius: 6px;
                border-bottom-right-radius: 6px;
                overflow: hidden;
                width: 35px;
                height: 35px;

                a 
                {
                    background-color: #f98744;
                    color: #fff;
                    display: block;
                    font-size: $fontSizeBase * 1.4;
                    font-weight: $fontWeightBold;
                    padding: 5px;
                    transition: $transitionAll5s;

                    &:hover,
                    &:focus 
                    {
                        background-color: #ec6515;
                        text-decoration: none;
                    }

                    &.ativa
                    {
                        background-color: #ab310e;
                    }
                }
            }

        }
 
    }