.menu 
{
    float: left;
    width: 100%;

    @include breakpoint(0px 991px)
    {
        display: none;
    }

}

#menu-principal
{
    float: left;
    margin: 0 -1px;
    padding: 0;
    text-align: center;
    width: 100%;

    & > li 
    {
        display: inline-block;
        list-style: inside none;
        margin-right: 48px;
        padding: 0;
        position: relative;

        @include breakpoint($smallDesktop)
        {
            margin-right: 15px;
        }

        &:hover 
        {
            & > .sub-menu 
            {
                display: block;
            }

            & > a
            {
                color: $colorLinkHover;
                &::after 
                {
                    background-color: $colorLinkHover;
                    width: 46px;
                    margin-left: -23px;
                }                        
            }

        }

        &:last-child 
        {
            margin-right: 0;
        }        

        & > a 
        {
            color: $colorLinksMenu;
            display: block;
            font-weight: $fontWeightBold;
            padding-bottom: 5px;
            text-transform: uppercase;
            padding: 30px 0;
            position: relative;
            text-decoration: none;
            transition: $transitionAll3s;

            &::after 
            {
                content: "";
                width: 0;
                height: 4px;
                position: absolute;
                left: 50%;
                bottom: 25px;
                margin-left: 0;
                transition: $transitionAll3s;
            }

            &.ativo 
            {
                color: $colorLinkAtivo;
                &::after 
                {
                    background-color: $colorLinkAtivo;
                    width: 46px;
                    margin-left: -23px;
                }
            }

        }

    }

}    
    
.sub-menu 
{
    /* Submenu Primeiro Nível */

    display: none;
    position: relative;
    background-color: #ddd;
    background-color: rgba(221,221,221,.8);            
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.45);    
    position: absolute;
    top: 80px;
    left: 50%;
    width: 235px;
    list-style: none;
    margin-left: -117px;
    padding: 0;
    z-index: 40;

    /* Setinha para cima do submenu de primeiro nível */
    &::before 
    {
        content: "";
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #ddd; 
        border-bottom: 10px solid rgba(221,221,221,.8);  
        position: absolute;
        top: -10px;
        left: 50%;
        margin-left: -10px; 
        z-index: 10;                             
    }

    /* LI de Primeiro Nível do .sub-menu */
    & > li 
    {
        margin: 0;
        padding: 0;
        width: 100%;
        position: relative;
        text-align: center;

        & > a 
        {
            color: #0a793c;
            display: block;
            font-weight: $fontWeightBold;
            padding: 15px 5px 20px;
            text-transform: uppercase;
            transition: $transitionAll3s;

            &:focus,
            &:hover 
            {
                text-decoration: none;
            }

            &::after 
            {
                content: "";
                background-color: #0e4c6d;
                width: 46px;
                height: 4px;
                position: absolute;
                left: 50%;
                bottom: 10px;
                margin-left: -23px;
                transition: $transitionAll3s;
            }

        }

        &:hover
        {
            a
            {
                background-color: #0a793c;
                background-color: rgba(10,121,60,.8);
                color: #fff;

                &::after
                {
                    background-color: #fff;
                }
            }

            .sub-menu
            {
                display: block;
            }
            
        }

        &.menu-item-has-children
        {
            &::before
            {
                content: "";
                vertical-align: middle;
                width: 0; 
                height: 0; 
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 5px solid #0e4c6d;
                position: absolute;
                right: 35px;
                top: 50%;
                margin-top: -7px;
                margin-left: -10px; 
                transition: $transitionAll3s;    
                z-index: 10;     
            }

            &:hover 
            {
                &::before
                {
                    border-left: 5px solid #fff;
                }
            }

        }

    }

}

.sub-menu  
{
    /* Submenu Segundo Nível */

    .sub-menu
    {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        width: 255px;
        margin: 0;  

        /* Setinha para cima do submenu de segundo nível não existe */
        &::before 
        {
            display: none;
        }
    
        & > li 
        {
            display: block;
            padding: 0;
            margin: 0;
            text-align: left;
            width: 100%;
    
            &:hover
            {
    
                a 
                {
                    background-color: rgba(10,121,60,1);
                    color: #fff;
    
                    &::after
                    {
                        width: 4px;
                        left: 8%;
                        margin-left: 0;
                    }
                }
    
            }

            a 
            {
                background-color: #0a793c;
                background-color: rgba(10,121,60,.8);
                color: #fff;
                display: block;
                padding: 18px 10px 17px;
                padding-left: 40px;
    
                &::after 
                {
                    background-color: #f98744!important;
                    width: 4px;
                    height: 27px;
                    left: 8%;
                    bottom: 15px;
                    margin-left: 0;
                }
                
            }
    
        }
    
    }

}    